body {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.container,
.game,
.game-bottom {
  display: flex;
  flex-direction: column;
}

.heading {
  margin: 75px;
  text-align: center;

  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.game {
  margin: 0 auto;
  max-width: 500px;
  border: 2px solid black;
  font-size: 20px;
}

.game-inner {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.user,
.computer {
  padding: 20px;
}

.user {
  border-right: 1px solid black;
}

.side-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.cell {
  padding: 20px;
}

.game-bottom {
  align-self: center;
  min-height: 4em;
  justify-content: center;
}

.message {
  margin: 1em;
  text-align: center;
}

@media (max-width: 500px) {
  .heading {
    margin: 50px;
  }

  .message {
    margin-top: 1em;
  }
}
